/*/HEADER/*/
body {
    margin: 0;
    background-color: #002D62;
}


header {
    background-color: #002D62;
    font-size:20px;
    margin: 0;
    height:100px;
    display: flex;
    
}

.logo {
    height: 140px;
    width: 140px;
        
    }

.links {
   
    width: 3000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    padding-right:230px;
    text-decoration: none;
   }

   a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px ;
   }

   /*/END OF HEADER/*/

   /*/where is your destination/*/ 

   .destination {
    display: flex;
    height: 400px;
    color: white;
    
   }

   .main {
       height:300px;
       width: 500px;
       padding: 40px;
       padding-right: 300px;
       }

   .text {
    margin: 30px;
    height: 400px;
    width: 1300px;
        
   }

   .title {
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 50px;
       width: 450px;
       padding-left: 300px;
   }


   .text2 {
       height: 150px;
       width: 600px;
       padding-left: 300px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 20x;
          }
         /*/where is your destination/*/ 

/*/ ADDING THE CITIES PICTURES/*/

.title2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 60px;

}

.middle2 {
    height:400px;
    }

.middle img {
    padding-top: 60px;
    height: 100px;
    width: 150px;  
}

.middle {
    display: flex;
    justify-content: center;
    gap: 150px;
}

figcaption {
    text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 20px;
}

.middle,
.title2 {
    color: white;
    
    margin: 0;
    }

  .quote {
    text-align: center;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(85, 115, 141);
    font-size: 35px;
   
  }

  .signup {
    padding:30px;
    display: flex;
    justify-content: center;
    gap:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
        align-self: center;
    
  }

  button {
      background-color: rgb(34, 83, 102);
      padding: 5px;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
      }

  footer {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    height: 40px;
    }

